<mat-card class="add-user-card" *ngIf="!isLoading; else spinner">
  <mat-card-title class="add-user-title"><ng-content></ng-content></mat-card-title>
  <form class="add-user-form" [formGroup]="form"> 
    
    <p class="add-user-form-section">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>First Name:</mat-label>
        <input matInput type="text" placeholder="Andrew" formControlName="firstName">
        <mat-error><app-form-error [control]="form.get('firstName')" ></app-form-error></mat-error>
      </mat-form-field>
    </p>
    
    <p class="add-user-form-section">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Last Name:</mat-label>
        <input matInput type="text" placeholder="Brown" formControlName="lastName">
        <mat-error><app-form-error [control]="form.get('lastName')" ></app-form-error></mat-error>
      </mat-form-field>
    </p>
    
    <p class="add-user-form-section">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Age:</mat-label>
        <input matInput type="number" formControlName="age">
        <mat-error><app-form-error [control]="form.get('age')" ></app-form-error></mat-error>
      </mat-form-field>
    </p>
    
    <p class="add-user-form-section">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email">
        <p>{{generatedEmail$ | async}}</p>
        <mat-error><app-form-error [control]="form.get('email')"></app-form-error></mat-error>
      </mat-form-field>
    </p>
    
    <p class="add-user-form-section">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Company:</mat-label>
        <input matInput type="text" formControlName="company">
        <mat-error><app-form-error [control]="form.get('company')"></app-form-error></mat-error>
      </mat-form-field>
    </p>
    
    <p class="add-user-form-section">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Department:</mat-label>
        <input matInput type="text" formControlName="department">
        <mat-error><app-form-error [control]="form.get('department')" ></app-form-error></mat-error>
      </mat-form-field>
    </p>
    
    <!-- <p class="add-user-form-section file-section">
      <label class="manual-label" for="user-form-file">Photo: </label>
      <input class="file-input" id="user-form-file" type="file" formControlName="photo">
    </p> -->
    
    <p class="add-user-form-section gender-section">
        <mat-radio-group class="form-radio-group" aria-label="user-form-gender" formControlName="gender">
          <mat-label class="manual-label" id="user-form-gender">Gender: </mat-label>
          <mat-radio-button class="add-user-form-radio" value="Male">Male</mat-radio-button>
          <mat-radio-button class="add-user-form-radio" value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <small *ngIf="checkFormValid('gender')" [ngStyle]="{color: '#f44336', fontSize: '10.5px'}"><app-form-error [control]="form.get('gender')" ></app-form-error></small>
    </p>
    
    <p class="add-user-form-section addresses-section">
      <app-addresses (formArrayCreated)="addControl($event)"></app-addresses>
    </p>
  </form>
</mat-card>

<ng-template #spinner>
  <mat-spinner [ngStyle]="{'margin': '0 auto'}"></mat-spinner>
</ng-template>