<div class="controls">
  <app-users [isShowDeactivated]="isShowDeactivated" (changeMode)="showHideDeactivated()" (deactivateAllowedUsers)="deactivateAllowedUsers()"></app-users>
  <div [formGroup]="searchForm">
    <mat-form-field class="search-field" appearance="outline" color="primary">
      <mat-label>Search user:</mat-label>
      <input matInput type="text" formControlName="searchField">
    </mat-form-field>
  </div>
</div>
<div class="users" *ngIf="(usersForPage$ | async) as users; else loader">
  <ng-container  *ngFor="let user of users">
    <app-user-item [hidden]="!user.activated && !isShowDeactivated" [user]="user" (userLog)="userLog($event)" (deactivateUser)="deactivateParticularUser($event)"></app-user-item>
  </ng-container>
</div>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>

<mat-paginator class="paginator" #paginator [hidden]="usersLength < 11"
              [hidePageSize]="true"
              [length]="usersLength"
               [pageSize]="numberItemsForPage"
               (page)="setPageNumber($event.pageIndex)"
               aria-label="Select page">
</mat-paginator>