.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .search-field {
    margin-right: 1rem;
  }
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}



.hide {
  display: none;
}


.example-margin {
  margin: 0 10px;
}