.second-component-header {
  margin: 0.5rem 0;
}

.example-form-field {  
  width: 236px;
  margin-bottom: 0.5rem;
  background-color: rgba(92, 92, 92, 0.212);
}

.form-label {
  color: #4f00a8
}

.text-view {
  min-height: 64px;
  width: 236px;
  background-color: rgba(92, 92, 92, 0.212);
  overflow: hidden;
}

.example-form-field,
.text-view {
  margin-left: 0.5rem;
}