<mat-toolbar class="first-component-header" color="primary">
  <mat-toolbar-row class="header-title-row">
    <h3 class="title">Angular Study Project</h3>
    <div class="auth">
      <span class="auth-user-name">{{userName$ | async}}</span>
      <!-- <a (click)="toLoginPage()" class="auth-login" title="To login page"><span class="material-icons">login</span></a> -->
      <a (click)="logout()" class="auth-logout" title="Logout"><span class="material-icons">logout</span></a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-nav-list class="nav-links">
      <a
        class="nav-link"
        mat-list-item
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
        Users
      </a>
      <a
        class="nav-link"
        mat-list-item
        routerLink="add-user"
        routerLinkActive="active">
        Add user
      </a>
      <a
        class="nav-link"
        mat-list-item
        routerLink="rxjs"
        routerLinkActive="active">
        RxJs
      </a>
      <a
        class="nav-link"
        mat-list-item
        routerLink="server-table"
        routerLinkActive="active">
        Server table
      </a>
      <a
        class="nav-link"
        mat-list-item
        routerLink="client-table"
        routerLinkActive="active">
        Client table
      </a>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>
