<mat-card class="user-card">
  <mat-card-subtitle class="activated" [ngStyle]="{'color': user.activated ? 'lightgreen' : 'white'}">{{user.activated ? 'Active' : 'Non-Active'}}</mat-card-subtitle>
  <mat-card-title-group>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{user.age}} years</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <app-vehicle>
      <h3 user-vehicle-title>Vehicle: {{user.vehicle}}</h3>
      <div class="user-vehicle-image" [ngStyle]="{'background-image': 'url(&quot;'+user.image+'&quot;)'}"></div>
    </app-vehicle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="log(user)">Log</button>
    <button mat-stroked-button (click)="goToEditPage()">Edit</button>
    <button mat-stroked-button *ngIf="user.activated" (click)="deactivate(user)">Deactivate</button>
  </mat-card-actions>
</mat-card>
<app-vehicle></app-vehicle>