.user-card {
  min-width: 250px;
  // max-width: 400px;
  max-width: 250px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  background-color: rgb(79, 0, 168);

  .card-subtitle {
    color: white;
  }

  .activated {
    align-self: flex-end;
  }
  
  .user-vehicle-image {
    height: 15rem;
    width: 20rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mat-card-actions {
    .mat-stroked-button {
      margin: 0 4px;
    }
  }

}

