<ng-container [formGroup]="addressesForm">
  <div class="addresses" formArrayName="addresses">
    <div
      class="address"
      *ngFor="let address of addressesControls; let i = index"
      [formGroup]="address"
    >
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          placeholder="5 Avenue"
          formControlName="address"
        ></textarea>
        <mat-error
          ><app-form-error [control]="address.get('address')"></app-form-error
        ></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>City</mat-label>
        <input
          matInput
          placeholder="San Francisco"
          type="text"
          formControlName="city"
        />
        <mat-error
          ><app-form-error [control]="address.get('city')"></app-form-error
        ></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Zip code</mat-label>
        <input matInput type="number" formControlName="zip" />
        <mat-error
          ><app-form-error [control]="address.get('zip')"></app-form-error
        ></mat-error>
      </mat-form-field>

      <button
        class="delete-address-btn"
        mat-raised-button
        color="warn"
        (click)="deleteAddress(i)"
      >
        <mat-icon aria-hidden="false" aria-label="Add address"
          >delete_outline</mat-icon
        >
        Удалить адрес
      </button>
    </div>
  </div>

  <button
    class="add-address-btn"
    mat-raised-button
    color="primary"
    (click)="addAddress()"
  >
    <mat-icon aria-hidden="false" aria-label="Add address">add</mat-icon>
    Добавить адрес
  </button>
</ng-container>
